@model List<CT_Fas.Models.CartItem>

<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Trang chủ
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Giỏ hàng
        </span>
    </div>

    <div class="container p-t-50">
        <div class="row">
            <div class="col-lg-10 col-xl-8 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    @if (Model.Any())
                    {
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Sản phẩm</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Giá</th>
                                    <th class="column-4">Số lượng</th>
                                    <th class="column-5">Tổng</th>
                                    <th class="column-6"></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr class="table_row" data-id="@item.Id">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="@item.Product.ImageUrl" alt="@item.Product.Name">
                                            </div>
                                        </td>
                                        <td class="column-2">
                                            <a href="/Product/Details/@item.ProductId" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                                @item.Product.Name
                                            </a>
                                            <span class="header-cart-item-info">
                                                Size @item.Size.Size
                                            </span>
                                        </td>
                                        <td class="column-3">@item.Product.Price.ToString("N0")₫</td>
                                        <td class="column-4">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>

                                                <input class="mtext-104 cl3 txt-center num-product" type="number" 
                                                    name="num-product" value="@item.Quantity" min="1">

                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="column-5">@((item.Product.Price * item.Quantity).ToString("N0"))₫</td>
                                        <td class="column-6">
                                            <button class="btn-remove-cart-item">
                                                <i class="zmdi zmdi-close"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                                <a href="/" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                    Tiếp tục mua sắm
                                </a>
                            </div>
                            <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                Tổng cộng: @Model.Sum(i => i.Product.Price * i.Quantity).ToString("N0")₫
                            </div>
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                                <a href="/Cart/Checkout" class="flex-c-m stext-101 cl0 size-119 bg3 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                    Đặt hàng
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="text-center">
                            <p class="fs-18 mb-4">Giỏ hàng của bạn đang trống</p>
                            <a href="/" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                                Tiếp tục mua sắm
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function() {
            // Xử lý sự kiện click nút giảm số lượng
            $('.btn-num-product-down').on('click', function() {
                var input = $(this).closest('.wrap-num-product').find('.num-product');
                var newVal = parseInt(input.val()) - 1;
                if (newVal >= 1) {
                    input.val(newVal);
                    updateQuantity($(this).closest('.table_row'));
                }
            });

            // Xử lý sự kiện click nút tăng số lượng
            $('.btn-num-product-up').on('click', function() {
                var input = $(this).closest('.wrap-num-product').find('.num-product');
                var newVal = parseInt(input.val()) + 1;
                input.val(newVal);
                updateQuantity($(this).closest('.table_row'));
            });

            // Xử lý sự kiện thay đổi input số lượng
            $('.num-product').on('change', function() {
                var newVal = parseInt($(this).val());
                if (newVal < 1) {
                    $(this).val(1);
                    newVal = 1;
                }
                updateQuantity($(this).closest('.table_row'));
            });

            // Hàm cập nhật số lượng
            function updateQuantity(row) {
                var id = row.data('id');
                var quantity = parseInt(row.find('.num-product').val());
                // Lấy giá từ cột giá và chuyển về số
                var priceText = row.find('.column-3').text();
                var price = parseInt(priceText.replace(/\D/g, ''));

                $.ajax({
                    url: '/Cart/UpdateQuantity',
                    type: 'POST',
                    data: { id: id, quantity: quantity },
                    success: function(response) {
                        if (response.success) {
                            // Cập nhật tổng tiền của sản phẩm
                            var total = price * quantity;
                            row.find('.column-5').text(total.toLocaleString('vi-VN') + '₫');

                            // Cập nhật tổng tiền giỏ hàng
                            var cartTotal = 0;
                            $('.table_row').each(function() {
                                var rowTotalText = $(this).find('.column-5').text();
                                var rowTotal = parseInt(rowTotalText.replace(/\D/g, ''));
                                cartTotal += rowTotal;
                            });
                            $('.flex-c-m.stext-101.cl2.size-119').text('Tổng cộng: ' + cartTotal.toLocaleString('vi-VN') + '₫');
                        } else {
                            alert('Có lỗi xảy ra khi cập nhật số lượng');
                        }
                    },
                    error: function() {
                        alert('Có lỗi xảy ra khi cập nhật số lượng');
                    }
                });
            }
        });
    </script>
}