@model CT_Fas.ViewModels.CartViewModel

<style>
    .header-cart-item-img {
        width: 80px;
        height: 80px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .header-cart-item-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<div class="wrap-header-cart js-panel-cart">
    <div class="s-full js-hide-cart"></div>

    <div class="header-cart flex-col-l p-l-65 p-r-25">
        <div class="header-cart-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2">
                Giỏ hàng của bạn
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="header-cart-content flex-w js-pscroll">
            <div class="header-cart-wrapitem w-full">
                @if (Model.Items.Any())
                {
                    foreach (var item in Model.Items)
                    {
                        <div class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                @if (!string.IsNullOrEmpty(item.ImageUrl))
                                {
                                    <img src="@item.ImageUrl" alt="@item.ProductName">
                                }
                                else
                                {
                                    <img src="/images/icons/icon-close.png" alt="Default Image">
                                }
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <a href="/Product/Details/@item.ProductId" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    @item.ProductName
                                </a>

                                <span class="header-cart-item-info">
                                    @item.Quantity x @item.Price.ToString("N0")₫ - Size @item.Size
                                </span>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-center p-t-20">Giỏ hàng trống</p>
                }
            </div>

            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    Tổng cộng: @Model.Total.ToString("N0")₫
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a href="/Cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        Xem giỏ hàng
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>